= simple_form_for(@translator) do |f|
  = f.error_notification

  = f.input :name
  = f.input :email
  = f.input :phone
  = f.input :gender, collection: Translator::GENDER

  = f.button :submit, class: 'btn btn-primary'
