%page.title
  %h4 User
%p#notice= notice
.card
  .card-block
    %h4.card-title Show User
  .mrg-top-20
    %div{align: 'center'}
      = image_tag @user.avatar_url, size: '150x150'
    %br
    %table.table
      %col{width: 10}
      %col{width: 300}
      %tr
        %th Name :
        %td= @user.name
      %tr
        %th Email :
        %td= @user.email
    %hr
    .mrg-top-25
      = link_to users_path, class: 'btn btn-default' do
        %i.fa.fa-cheveron-left
        Back
      = link_to [:edit, @user], class: 'btn btn-primary' do
        %i.fa.fa-edit
        Edit