.page-title
  %h4 Event
.row
  .col-md-12
    .card
      .card-block
        %h4.card-title Listing Events
        %table.table
          %thead
            %tr
              %th Title
              %th Venue
              %th Start date
              %th End date
              %th User
              %th Actions

          %tbody
            - @events.each do |event|
              %tr
                %td= event.title
                %td= event.venue
                %td= event.start_date
                %td= event.end_date
                %td= event.user.name
                %td
                  = link_to 'Show', event, class: 'btn btn-info'
                  = link_to 'Edit', edit_event_path(event), class: 'btn btn-warning'
                  = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'


        = link_to 'New Event', new_event_path, class: 'btn btn-primary'
