%page.title
  %h4 Requests
%p#notice= notice
.card
  .card-block
    %h4.card-title Show Request
  .mrg-top-20
    %table.table
      %col{width: 10}
      %col{width: 300}
      %tr
        %th Status :
        %td= @request.status
      %tr
        %th Translator :
        %td= @request.translator.name
      %tr
        %th Broadcast Room:
        %td= @request.broadcast_room.title
    
    %hr
    .mrg-top-25
      = link_to requests_path, class: 'btn btn-default' do
        %i.fa.fa-chevron-left
        Back

          

      .pull-right
        = link_to approve_request_path(@request), method: :patch, class: 'btn btn-success' do
          %i.fa.fa-check
          Approve
       
        = link_to reject_request_path(@request), method: :patch, class: 'btn btn-danger' do
          %i.fa.fa-close
          Reject

