!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Broadcast Translation
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
  %body{ id: "#{controller_name}_#{params[:action]}"}

    .container-fluid
      = yield
    
    = javascript_include_tag 'application'
