!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Broadcast Translation
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
  %body{ id: "#{controller_name}_#{params[:action]}"}

    .container-fluid{style: 'padding-left: 0px; padding-right: 0px'}
      = render 'partials/navbar'
      = yield
      = render 'partials/footer'
    = javascript_include_tag 'application'
